
# # av:php5-engine
AddHandler av-php82 .php
AddType application/javascript .mjs
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^webgre/(.*)$ webgre/$1 [L]
ErrorDocument 404 /webgre/404.php
ErrorDocument 403 /webgre/403.php
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
