.shipment-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shipment-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.shipment-info {
    flex-grow: 1;
    margin-right: 20px;
}

.shipment-info h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.shipment-info p {
    margin: 0;
    font-size: 0.875rem;
}

.btn-details {
    white-space: nowrap;
}

.tracking-info,
.origin-info {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
}